@using System.Security.Claims

<h1>Welcome to Pierre's TreatBox. Register or login with your account below.</h2>

@if (User.Identity.IsAuthenticated)
{
  <h3>Hello, @User.Identity.Name! You are already logged in.</h3>
  @using (Html.BeginForm("LogOff","Account"))
  {
    <input type="submit" class="btn btn-default" value="Log out"/>
  }
  <p>@Html.ActionLink("Go To Treats","Index","Treats")</p>
}
else
{
  <p>@Html.ActionLink("Register","Register")</p>
  <p>@Html.ActionLink("Log in", "Login")</p>
}